{% extends 'base.html' %}

{% block content %}
<section class="content">
    <div class="scrollable">
        <h2>Shared what happened at Dunder Mifflin today!</h2>       
         <form method="post" action="{{ url_for('main.new_post_publish') }}">
            <textarea name="text" rows="4" cols="50" placeholder="What's on your mind?" required></textarea>
            <button type="submit">Post</button>
    </div>   
    <div class="fixed">
        <p>Welcome, {{ current_user.name }}</p>
        <img src="static/imgs/Dwight_Schrute.jpg" alt="Profile Picture" width="150">
        <button ><a href="{{url_for('main.new_post')}}">Create Post</a></button>
        <button><a href="{{ url_for('main.test_user') }}">View your profile</a></button>
    </div>
</section>

{% endblock %}



