{% extends 'base.html' %}

{% block content %}
<section class="content">
    <div class="scrollable">
        <h2>Posts from the people you follow</h2>       
            {% include 'post_template.html' %} 
        <h3>Comments:</h3>
            {% for comment in post.comments%}
            <p>{{comment}}</p>
            {% endfor %}
    </div>   
    <div class="fixed">
        <span>Welcome, {{current_user.name}} !</span>
        <button action="{{ url_for('main.new_post') }}">Create Post</button>
        <button>
            <a href="">View your profile</a>
        </button>
    </div>
</section>

{% endblock %}



