<div class="post">
    <div class="post-container">
        <img src="{{ url_for('static', filename=post.img) }}" alt="Post image">
        <div class="text">
            {{ post.text }}
        </div>
    </div>

    <div class="metadata">
        <span class="author">By {{ post.user.name }}</span>
        <br>
        <span class="date">{{ post.timestamp }}</span>
        <br>
        <h4>Comments:</h4>
        <div class="comments">
            {% for comment in post.comments %}
            {{comment}}<br>
            {% endfor %}
    </div>
</div>
